#signup {
  margin-top: 20px;
  .signupbox {
    width: 50%;
    margin: 0 auto;
    form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 80%;
      .form-group {
        @include typebox;
        input {
          padding-left: 53px;
        }
        i {
          position: absolute;
          top: 17px;
          right: 15px;
          color: var(--deepwhite);
        }
        select {
          background-color: var(--bodybg);
          border: 3px solid var(--bgtwo);
          width: 100%;
          padding: 12px 10px 12px 53px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          color: var(--deepwhite);
          text-transform: capitalize;
        }
      }
      button {
        color: #fff;
        padding: 5px;
        background-color: $brand;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 32px;
        }
      }
      .newcreate {
        text-align: center;
        .haveacc {
          color: var(--txtone);
        }
      }
    }
  }
}
