/* extra small device start */
@media (max-width: 1199.98px) {
  #signup .signupbox form {
    row-gap: 10px;
  }
  #signup .signupbox form .form-group input {
    font-size: 14px;
    border: 1px solid #999999;
    padding: 8px;
  }
  #signup .signupbox form .form-group label {
    font-size: 14px;
  }
  #signup .signupbox form .form-group i {
    top: 13px;
    font-size: 13px;
  }
  #signup .signupbox form .form-group select {
    padding: 8px;
    border: 1px solid var(--gray);
    font-size: 14px;
}
#signup .signupbox form button {
    font-size: 15px;
}
}
/* extra small device end */
@media (min-width: 768px) and (max-width: 1199.98px) {
}
