@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "Ubuntu", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  padding: 0 10px;
}

body {
  position: relative;
  background-color: var(--bodybg);
  overflow-x: hidden;
}

img {
  width: 100%;
}

:root {
  --iconfill: #59a98b;
  --bodybg: #ffffff;
  --bgtwo: #d4d8dd;
  --loginbg: rgba(255, 255, 255, 0.4);
  --txtone: #191919;
  --txttwo: #737374;
  --sliderbg: #ffffff;
}

.theme[data-theme=dark] {
  --iconfill: #d3d5db;
  --bodybg: #323339;
  --bgtwo: #222128;
  --txtone: #eeeeee;
  --txttwo: #d3d5db;
  --sliderbg: #494a50;
}

.theme[data-theme=black] {
  --iconfill: #d4d7e1;
  --bodybg: #1b1d23;
  --bgtwo: #000001;
  --txtone: #edeeef;
  --txttwo: #d4d7e1;
  --sliderbg: #343844;
}

.lottie {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lottie span {
  display: inline-block;
}
.lottie .resized {
  width: 30px;
}

.datatheme {
  background-color: var(--bgtwo);
  padding: 8px;
  display: flex;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.datatheme .themeslider {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 45px;
  background-color: var(--sliderbg);
  z-index: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.datatheme button {
  background-color: transparent;
  color: var(--txttwo);
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  text-transform: capitalize;
  z-index: 1;
}
.datatheme button svg {
  fill: var(--txttwo);
}

::-webkit-calendar-picker-indicator {
  background-image: url("../../svg/calender.svg");
}

::-moz-selection {
  background: #59a98b;
  color: var(--txtone);
}

::selection {
  background: #59a98b;
  color: var(--txtone);
}

button {
  background-color: transparent;
}
button svg {
  width: 30px;
}

.lottieicon path {
  stroke: var(--iconfill);
  fill: var(--bodybg);
}

#indexheader {
  padding: 10px 0;
  background-color: var(--bodybg);
}
#indexheader .headbox {
  display: flex;
  justify-content: center;
  -moz-column-gap: 60%;
       column-gap: 60%;
  padding: 0 50px;
}
#indexheader .headbox select {
  text-transform: capitalize;
  border: 0;
  background-color: transparent;
  padding: 5px 15px;
  color: var(--txtone);
}
#indexheader .headbox select option {
  background-color: var(--bodybg);
}

#login .loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login .loginbox .logo img {
  width: 100px;
}
#login .loginbox .loginbg {
  width: 50%;
}
#login .loginbox .loginbg form {
  text-align: center;
  background-color: var(--loginbg);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#login .loginbox .loginbg form .form-group {
  width: 80%;
  margin: 0 auto;
  position: relative;
  position: relative;
}
#login .loginbox .loginbg form .form-group input:focus ~ label,
#login .loginbox .loginbg form .form-group input:valid ~ label {
  top: -10px;
  font-size: 10pt;
}
#login .loginbox .loginbg form .form-group label {
  position: absolute;
  top: 10px;
  left: 7%;
  color: #999999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0 10px;
  background-color: var(--bodybg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#login .loginbox .loginbg form .form-group input {
  border: 3px solid var(--bgtwo);
  height: 45px;
  width: 100%;
  background-color: var(--bodybg);
  color: var(--txttwo);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#login .loginbox .loginbg form .form-group input {
  padding-left: 50px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: var(--txtone);
  font-size: 16px;
}
#login .loginbox .loginbg form .form-group .lottie {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 3px solid var(--bgtwo);
}
#login .loginbox .loginbg form .form-group .lottie span {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  width: 35px;
}
#login .loginbox .loginbg form .form-group i {
  position: absolute;
  top: 3px;
  right: 10px;
  padding: 10px;
}
#login .loginbox .loginbg form button {
  padding: 5px;
  background-color: #59a98b;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#login .loginbox .loginbg form button span {
  display: inline-block;
  width: 35px;
}
#login .loginbox .loginbg form .createnewacc {
  padding: 10px;
  color: var(--txtone);
  background-color: #59a98b;
  font-weight: 500;
  border: 1px solid #59a98b;
  width: 80%;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin: 0 auto;
}
#login .loginbox .forgot {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--deepwhite);
}
#login .loginbox h2 {
  color: var(--txtone);
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#login .loginbox h2 svg {
  font-family: "Russo One", sans-serif;
  width: 16%;
}
#login .loginbox h2 svg text {
  text-transform: uppercase;
  animation: brandhome 5s infinite alternate;
  -webkit-animation: brandhome 5s infinite alternate;
  stroke-width: 2;
  stroke: var(--txtone);
  font-size: 235px;
}
@keyframes brandhome {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: var(--txtone);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: var(--txtone);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: var(--txtone);
    stroke-width: 3;
  }
  100% {
    fill: var(--txtone);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
#login .loginbox p {
  color: var(--txtone);
  opacity: 0.7;
}

#footer {
  background-color: var(--bodybg);
  padding: 20px 0;
}
#footer .copyright {
  text-align: center;
}
#footer .copyright h6 {
  font-size: 16px;
  color: #59a98b;
}
#footer .copyright h6 a {
  color: #59a98b;
}
#footer .copyright h6 i {
  color: #59a98b;
}

#join .mainjoinbox {
  width: 50%;
  margin: 0 auto;
}
#join .mainjoinbox .join {
  margin: 0 auto;
  width: 80%;
}
#join .mainjoinbox .join .tab h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--deepwhite);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
#join .mainjoinbox .join .tab h2 .brand {
  width: 25%;
}
#join .mainjoinbox .join .tab h2 .brand text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #59a98b;
  font-size: 235px;
  font-weight: 900;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
    stroke-width: 3;
  }
  100% {
    fill: #59a98b;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
#join .mainjoinbox .join .tab img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#join .mainjoinbox .join .joinimg {
  margin-top: 50px;
}
#join .mainjoinbox .join .joinimg p {
  font-size: 18px;
  color: var(--txttwo);
  width: 70%;
  padding: 20px 0;
}

#signup {
  margin-top: 20px;
}
#signup .signupbox {
  width: 50%;
  margin: 0 auto;
}
#signup .signupbox form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 80%;
}
#signup .signupbox form .form-group {
  position: relative;
}
#signup .signupbox form .form-group input:focus ~ label,
#signup .signupbox form .form-group input:valid ~ label {
  top: -10px;
  font-size: 10pt;
}
#signup .signupbox form .form-group label {
  position: absolute;
  top: 10px;
  left: 7%;
  color: #999999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0 10px;
  background-color: var(--bodybg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#signup .signupbox form .form-group input {
  border: 3px solid var(--bgtwo);
  height: 45px;
  width: 100%;
  background-color: var(--bodybg);
  color: var(--txttwo);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#signup .signupbox form .form-group input {
  padding-left: 53px;
}
#signup .signupbox form .form-group i {
  position: absolute;
  top: 17px;
  right: 15px;
  color: var(--deepwhite);
}
#signup .signupbox form .form-group select {
  background-color: var(--bodybg);
  border: 3px solid var(--bgtwo);
  width: 100%;
  padding: 12px 10px 12px 53px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--deepwhite);
  text-transform: capitalize;
}
#signup .signupbox form .form-group .lottie {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 45px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 3px solid var(--bgtwo);
}
#signup .signupbox form button {
  color: #fff;
  padding: 5px;
  background-color: #59a98b;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup .signupbox form button span {
  width: 32px;
}
#signup .signupbox form .newcreate {
  text-align: center;
}
#signup .signupbox form .newcreate .haveacc {
  color: var(--txtone);
}

#homedead {
  background-color: var(--bodybg);
  padding: 15px 0;
  position: relative;
  grid-area: homedead;
  border-bottom: 1px solid var(--txtone);
}
#homedead .headbox {
  display: grid;
  grid-template-columns: 250px 1fr;
}
#homedead .headbox .header-brand .lottie {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}
#homedead .headbox .header-brand .lottie span {
  display: block;
  width: 45px;
}
#homedead .headbox .header-brand .lottie .brand {
  width: 70%;
}
#homedead .headbox .header-brand .lottie .brand text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #59a98b;
  font-size: 235px;
  font-weight: 900;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #59a98b;
    stroke-width: 3;
  }
  100% {
    fill: #59a98b;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
#homedead .headbox .headeritems {
  display: flex;
  justify-content: end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#homedead .headbox .headeritems form {
  background-color: var(--bgtwo);
  width: 50px;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#homedead .headbox .headeritems form button {
  position: absolute;
  width: 45px;
  top: 0;
  left: 5px;
}
#homedead .headbox .headeritems form input {
  background-color: var(--bodybg);
  height: 100%;
  width: 100%;
  padding: 0 10px 0 50px;
}
#homedead .headbox .headeritems .search-extend {
  width: 60%;
}
#homedead .headbox .headeritems .search-extend input {
  border: 2px solid var(--bgtwo);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#navigation {
  padding: 0 10px;
  overflow: hidden;
  grid-area: nav;
  padding-bottom: 10px;
  height: 100vh;
  background-color: var(--bodybg);
  border-right: 1px solid var(--txtone);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
#navigation .navbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#navigation .navbox button.close {
  width: 40px;
  margin: 15px 15px 0 auto;
}
#navigation .navbox .profile {
  margin-top: 10%;
}
#navigation .navbox .profile .image {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#navigation .navbox .profile .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#navigation .navbox .profile .name {
  margin-top: 20px;
  color: var(--txttwo);
}
#navigation .navbox .navlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
#navigation .navbox .navlist li {
  width: 70%;
  display: flex;
  justify-content: center;
}
#navigation .navbox .navlist li:hover {
  background-color: var(--bgtwo);
}
#navigation .navbox .navlist li a {
  display: flex;
  align-items: center;
  color: var(--txtone);
  text-transform: capitalize;
}
#navigation .navbox .navlist li a span:first-child {
  width: 30px;
  margin-right: 10px;
}
#navigation .navbox .navlist li a span:last-child {
  width: 100px;
}

.hide-nav {
  position: absolute;
  top: 0;
  left: -400px;
}

.show-nav {
  position: relative;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */