@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "Ubuntu", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  background-color: var(--bodybg);
  overflow-x: hidden;
}

img {
  width: 100%;
}

:root {
  --brand: #0064e0;
  --bodybg: #f1f1f1;
  --deepdark: #fff;
  --deepwhite: #000;
  --gray: #999999;
  --purewhite: #000000;
  --iconcolor: #293F54;
}

.dark[data-theme=theme] {
  --iconcolor: #ffffff;
  --purewhite: #ffffff;
  --deepwhite: #999999;
  --bodybg: #021222;
  --deepdark: #000;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switch-wrapper .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .theme-switch .slider {
  background-color: #0064e0;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.theme-switch-wrapper .theme-switch .slider::before {
  background-color: #021222;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
.theme-switch-wrapper .theme-switch .themecheckcolor::before {
  background-color: #f1f1f1;
}
.theme-switch-wrapper .theme-switch input:checked + .slider {
  background-color: #0064e0;
}
.theme-switch-wrapper .theme-switch input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../../svg/calender.svg");
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button svg {
  width: 30px;
  fill: var(--iconcolor);
}

header {
  padding: 10px 0;
}
header .headbox {
  display: flex;
  justify-content: center;
  -moz-column-gap: 60%;
       column-gap: 60%;
  padding: 0 50px;
}
header .headbox select {
  text-transform: capitalize;
  border: 0;
  background-color: transparent;
  padding: 5px 15px;
  color: var(--deepwhite);
}

#login .loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login .loginbox .logo {
  padding: 5% 0;
}
#login .loginbox .logo img {
  width: 100px;
}
#login .loginbox form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#login .loginbox form .form-group {
  width: 80%;
  margin: 0 auto;
  position: relative;
  position: relative;
}
#login .loginbox form .form-group input:focus ~ label,
#login .loginbox form .form-group input:valid ~ label {
  top: -10px;
  font-size: 10pt;
}
#login .loginbox form .form-group label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0 10px;
  background-color: var(--deepdark);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#login .loginbox form .form-group input {
  border: 3px solid #999999;
  padding: 10px;
  width: 100%;
  background-color: var(--deepdark);
  color: var(--deepwhite);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#login .loginbox form .form-group input {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: var(--deepwhite);
}
#login .loginbox form .form-group i {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 10px;
  color: var(--deepwhite);
}
#login .loginbox form button {
  padding: 10px;
  background-color: #0064e0;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
}
#login .loginbox .forgot {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--deepwhite);
}
#login .loginbox h2 {
  color: var(--deepwhite);
  font-size: 22px;
  font-weight: 600;
}
#login .loginbox p {
  color: var(--deepwhite);
  opacity: 0.6;
}

#footer .newcreate {
  text-align: center;
  padding-bottom: 30px;
}
#footer .newcreate .createnewacc {
  padding: 10px;
  color: #0064e0;
  font-weight: 500;
  border: 1px solid #0064e0;
  width: 80%;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#footer .copyright {
  text-align: center;
}
#footer .copyright h6 {
  font-size: 16px;
  color: var(--deepwhite);
}

#join .mainjoinbox .join {
  width: 80%;
  margin: 0 auto;
}
#join .mainjoinbox .join .tab h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--deepwhite);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
#join .mainjoinbox .join .tab img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#join .mainjoinbox .join .joinimg {
  margin-top: 50px;
}
#join .mainjoinbox .join .joinimg p {
  font-size: 18px;
  color: var(--deepwhite);
  width: 70%;
  padding: 20px 0;
}

#signup .signupbox form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
#signup .signupbox form .form-group {
  position: relative;
}
#signup .signupbox form .form-group input:focus ~ label,
#signup .signupbox form .form-group input:valid ~ label {
  top: -10px;
  font-size: 10pt;
}
#signup .signupbox form .form-group label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0 10px;
  background-color: var(--deepdark);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#signup .signupbox form .form-group input {
  border: 3px solid #999999;
  padding: 10px;
  width: 100%;
  background-color: var(--deepdark);
  color: var(--deepwhite);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#signup .signupbox form .form-group i {
  position: absolute;
  top: 17px;
  right: 15px;
}
#signup .signupbox form .form-group select {
  background-color: var(--deepdark);
  width: 100%;
  padding: 10px;
  border: 3px solid var(--gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--deepwhite);
  text-transform: capitalize;
}
#signup .signupbox form button {
  color: #fff;
  padding: 5px;
  background-color: #0064e0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}

.signupfoot .haveacc {
  margin-top: 20px;
}

#homedead {
  padding: 10px 0;
}
#homedead .homeheadbox {
  display: grid;
  grid-template-columns: 20% 80%;
}
#homedead .homeheadbox .logosearch {
  display: flex;
  align-items: center;
}
#homedead .homeheadbox .logosearch .brandbtn {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: var(--iconcolor);
  background-color: transparent;
  text-transform: uppercase;
}
#homedead .homeheadbox .contacts {
  display: flex;
  align-items: center;
  justify-content: end;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-left: 15px;
}
#homedead .homeheadbox .contacts form {
  height: 30px;
  position: relative;
  width: 45px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--iconcolor);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#homedead .homeheadbox .contacts form input {
  width: 100%;
  padding: 0 5px 5px;
  background-color: var(--deepdark);
  color: var(--deepwhite);
  font-size: 15px;
}
#homedead .homeheadbox .contacts form button {
  color: var(--iconcolor);
  position: absolute;
  top: 5%;
  right: 8px;
}
#homedead .homeheadbox .contacts form button svg {
  width: 22px;
}
#homedead .homeheadbox .contacts .homesearch-cut {
  width: 45px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#homedead .homeheadbox .contacts .homesearch-extend {
  width: 90%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#homedead .homeheadbox .contacts button {
  background-color: transparent;
}
#homedead .homeheadbox .contacts button i {
  color: var(--iconcolor);
  margin-top: 3px;
  font-size: 24px;
}
#homedead .navbar {
  height: 100vh;
  overflow-y: scroll;
  width: 25%;
  padding-bottom: 50px;
  position: absolute;
  top: 0;
  background-color: var(--bodybg) !important;
  border-right: 2px solid var(--gray);
}
#homedead .navbar button {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
}
#homedead .navbar .navbox {
  margin-top: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#homedead .navbar .navbox img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#homedead .navbar .navbox ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#homedead .navbarhide {
  left: -70%;
  top: 0;
  left: -100%;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
#homedead .navbarshow {
  top: 0;
  left: 0;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}/*# sourceMappingURL=style.css.map */