// fonts
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "Ubuntu", sans-serif;
  border: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  padding: 0 10px;
}
body {
  position: relative;
  background-color: var(--bodybg);
  overflow-x: hidden;
}
img {
  width: 100%;
}
i {
  color: var(--txttwo);
}
:root {
  --bodybg: #ffffff;
  --bgtwo: #d4d8dd;
  --loginbg: rgba(255, 255, 255, 0.4);
  --txtone: #191919;
  --txttwo: #737374;
  --sliderbg: #ffffff;
}

.theme[data-theme="dark"] {
  --bodybg: #323339;
  --bgtwo: #222128;
  --txtone: #eeeeee;
  --txttwo: #d3d5db;
  --sliderbg: #494a50;
}
.theme[data-theme="black"] {
  --bodybg: #1b1d23;
  --bgtwo: #000001;
  --txtone: #edeeef;
  --txttwo: #d4d7e1;
  --sliderbg: #343844;
}
.lottie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 3px solid var(--bgtwo);
  span {
    display: inline-block;
  }
  .resized{
    width: 30px;
  }
}
.datatheme {
  background-color: var(--bgtwo);
  padding: 8px;
  display: flex;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .themeslider {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 120px;
    height: 45px;
    background-color: var(--sliderbg);
    z-index: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  button {
    background-color: transparent;
    color: var(--txttwo);
    padding: 5px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    text-transform: capitalize;
    z-index: 1;
    svg {
      fill: var(--txttwo);
    }
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url("../../svg/calender.svg");
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-moz-selection {
  background: $brand;
  color: var(--txtone);
}

::selection {
  background: $brand;
  color: var(--txtone);
}

button {
  background-color: transparent;
  svg {
    width: 30px;
    fill: var(--iconcolor);
  }
}
