@mixin typebox {
  position: relative;
  input:focus ~ label,
  input:valid ~ label {
    top: -10px;
    font-size: 10pt;
  }
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: 14pt;
    font-weight: normal;
    pointer-events: none;
    transition: all 0.2s ease;
    background-color: #fff;
    padding: 0 10px;
  }
  input{
    border: 3px solid gray;
    padding: 10px;
    width: 100%;
  }
}
