@mixin typebox {
  position: relative;
  input:focus ~ label,
  input:valid ~ label {
    top: -10px;
    font-size: 10pt;
  }
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: $gray;
    font-size: 14pt;
    font-weight: normal;
    pointer-events: none;
    transition: all 0.2s ease;
    padding: 0 10px;
    background-color: var(--deepdark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  input{
    border: 3px solid $gray;
    padding: 10px;
    width: 100%;
    background-color: var(--deepdark);
  }
}
