#footer{
    .copyright{
        display: flex;
        h6{
            text-align: center;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            color: var(--deepwhite);
            i{
                color: $brand;
            }
        }
    }
}