header{
    padding: 10px 0;
    .headbox{
        text-align: center;
        select{
            text-transform: capitalize;
            border: 0;
            background-color: transparent;
            padding: 5px 15px;
        }
    }
}