#navigation {
  padding: 0 10px;
  overflow: hidden;
  grid-area: nav;
  padding-bottom: 10px;
  height: 100vh;
  background-color: var(--bodybg);
  border-right: 1px solid var(--txtone);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  .navbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    button.close {
      width: 40px;
      margin: 15px 15px 0 auto;
    }
    .profile {
      margin-top: 10%;
      .image {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .name {
        margin-top: 20px;
        color: var(--txttwo);
      }
    }
    .navlist {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding: 50px 0;
      position: relative;
      z-index: 1;
      li {
        width: 70%;
        display: flex;
        justify-content: center;
        &:hover {
          background-color: var(--bgtwo);
        }
        a {
          display: flex;
          align-items: center;
          color: var(--txtone);
          text-transform: capitalize;
          span {
            &:first-child {
              width: 30px;
              margin-right: 10px;
            }
            &:last-child {
              width: 100px;
            }
          }
        }
      }
    }
  }
}
.hide-nav {
  position: absolute;
  top: 0;
  left: -400px;
}
.show-nav {
  position: relative;
  top: 0;
  left: 0;
}
