#homedead {
  padding: 10px 0;
  .homeheadbox {
    display: grid;
    grid-template-columns: 20% 80%;
    .logosearch {
      display: flex;
      align-items: center;
      .brandbtn {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: var(--iconcolor);
        background-color: transparent;
        text-transform: uppercase;
      }
    }
    .contacts {
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 24px;
      margin-left: 15px;
      form {
        height: 30px;
        position: relative;
        width: 45px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--iconcolor);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        input {
          width: 100%;
          padding: 5px;
        }
        button {
          position: absolute;
          top: 5%;
          right: 8px;
          svg {
            width: 22px;
          }
        }
      }
      .homesearch-cut {
        width: 45px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
      }
      .homesearch-extend {
        width: 90%;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
      }
      button {
        background-color: transparent;
      }
    }
  }

  .navbar {
    height: 100%;
    overflow-y: scroll;
    width: 25%;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    background-color: var(--bodybg) !important;
    // box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-right: 2px solid var(--gray);
    button {
      padding: 10px;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
    }
    .navbox {
      margin-top: 200px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img {
        width: 150px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      ul{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }
  .navbarhide {
    left: -100%;
    animation: hidenav 0.4s linear;
    -webkit-animation: hidenav 0.4s linear;
    @keyframes hidenav {
      0% {
        top: 0;
        left: 0%;
      }
      100% {
        top: 0;
        left: -40%;
      }
    }
  }
  .navbarshow {
    top: 0;
    left: 0;
    animation: shownav 0.4s linear;
    -webkit-animation: shownav 0.4s linear;
    @keyframes shownav {
      0% {
        top: 0;
        left: -40%;
      }
      100% {
        top: 0;
        left: 0;
      }
    }
  }
}
