#footer {
  background-color: var(--bodybg);
  padding: 20px 0;
  .copyright{
    text-align: center;
    h6{
      font-size: 16px;
      color: $brand;
      a{
        color: $brand;
      }
      i{
        color: $brand;
      }
    }
  }
}
