#indexheader {
  padding: 10px 0;
  background-color: var(--bodybg);
  .headbox {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    select {
      text-transform: capitalize;
      border: 0;
      background-color: transparent;
      padding: 5px 15px;
      color: var(--txtone);
      option {
        background-color: var(--bodybg);
      }
    }
  }
}
