@media (max-width: 575.98px) {
  /* header start */
  #homedead .homeheadbox {
    grid-template-columns: 32% 68%;
  }
  #homedead .homeheadbox .logosearch .brandbtn {
    -moz-column-gap: 5px;
    column-gap: 5px;
    font-size: 14px;
  }
  #homedead .homeheadbox .logosearch .brandbtn svg {
    width: 25px;
  }
  #homedead .homeheadbox .contacts {
    -moz-column-gap: 15px;
    column-gap: 15px;
    margin-left: 0px;
  }
  #homedead .homeheadbox .contacts form input {
    padding: 2px 25px 5px 5px;
  }
  #homedead .homeheadbox .contacts form {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  #homedead .homeheadbox .contacts .homesearch-cut {
    width: 30px;
  }
  #homedead .homeheadbox .contacts form button {
    top: 9%;
    right: 2px;
  }
  #homedead .homeheadbox .contacts .headcontact {
    width: 35px;
  }
  /* header end */
  /* nav start */

  #homedead .navbar {
    width: 60%;
  }

  /* nav end */
}

@media (min-width: 768px) and (max-width: 1199.98px) {
}
